:root{
    --primary: rgba(227, 52, 47, 1);
    --secondary: rgba(255, 255, 255, 1);
    --shadow: .1em .1em 1em rgb(233, 233, 233);
}

.homepage{
    width: 100%;
    max-width: 1440px;
    margin: auto auto;
    font-size: 16px;
    animation: fade-in 1s;
}

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 100;
    }
}

.homepage .img-bg{
    position: relative;
}

.homepage img{
    width: 100%;
    object-fit:cover;
    height: 80vh;
    position: relative;
}

.homepage .content{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    z-index: 1;
    height: 80vh;
    max-width: 1440px;
    /* overflow: scroll; */
}

.single img{
    height: 220px;
}

.single .content{
    height: 220px;
    overflow: hidden;
}

.homepage .content::-webkit-scrollbar{
    display: none;
}

.homepage .header{
    justify-content: space-between;
    padding: 1em 2em;
}

.homepage .header a{
    color: white;
    text-decoration: none;
    transition: .2s;
}

.homepage .header a:hover{
    color: rgb(209, 209, 209);
    transition: .2s;
}

.homepage .header ul{
    margin-right: 2em;
    margin-top: 1em;
    /* justify-content: space-between; */
}

.homepage .header li {
    margin-left: 4em;
}

.homepage .header .logo img{
    width: 150px;
    height: 150px;
}

.homepage .header h2{
    transform: translateY(-20px);
}

.homepage .header .btn, .homepage .head-up .btn{
    color: var(--secondary);
    background-color: var(--primary);
    border-radius: 6px;
    width: 10em;
    padding: .5em;
    transform: translateY(-7px);
    transition: .2s;
}

.homepage .header .btn:hover, .homepage .head-up .btn:hover{
    background-color: rgb(185, 189, 189);
    transition: .2s;
}

.homepage .head-up{
    padding: 1em 2em;
}


/* body */
.content .section1{
    margin-right: 15em;
    position: absolute;
    bottom: 0;
    transform: translateY(300px);
    /* z-index: 1 !important; */
    right: 0;
    /* display: none; */
}

.content .section1{
    color: rgba(105, 83, 63, 1);
}

.content .img-container{
    border: 5px solid rgb(248, 242, 242);
    width: 600px;
    height: 400px;
}

.content .img-container img{
    width: 100%;
    height: 100%;
}

.body{
    margin-top: 400px !important;
}

.body .section2{
    padding: 2em;
    width: 400px;
    margin: auto auto;
    /* transform: translateY(430px); */
}

.body .section2 h4 img{
    width: 40px;
    height: 40px;
    margin-left: .5em;
}

.body .section2 h4{
    color: rgba(85, 175, 110, 1);
}

.body .section2{
    margin-bottom: 3em;
    position: relative !important;
}

.body  .section2 .text-lay{
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.56);
    width: 100%;
    height: 100%;
    padding: 2em;
    color: white;
    border-radius: 6px;
}

.section2 .img-bg{
    height: 450px;
    overflow: hidden;
    border-radius: 6px;
}

.section2 .img-bg img{
    width: 100%;
    height: 100%;
}

.offcanvas{
    background-color: var(--primary);
    color: var(--secondary) !important;
    width: 90% !important;
}

.offcanvas a{
    color: var(--secondary) !important;
}

.open_canvas{
    background-color: var(--primary);
    padding: .5em 1em;
    height: fit-content;
    /* width: 10em; */
    color: var(--secondary);
    display: none;
    border-radius: 3px;
}

.open_canvas:hover{
    cursor: pointer;
}

.homepage .navbar-expand-sm .navbar-nav{
    display: block !important;
}

.homepage nav a{
    margin: 0 !important;
    padding: .7em 1em .7em 1em !important;
    transition: .2s;
    margin-bottom: .5em !important;
    font-size: 14px !important;
}

.homepage nav a:hover{
    background-color: rgba(85, 175, 110, 0.265);
    transition: .2s;
    /* color: white !important; */
}

.homepage .active{
    color: rgba(85, 175, 110, 1) !important;
}

.homepage .img img{
    width: 70px !important;
    height: 70px;
}

.homepage .img {
    border-bottom: 1px solid rgba(217, 215, 215, 0.642);
}

.homepage .img a{
    text-decoration: none;
    color: rgba(85, 175, 110, 1) !important;
}

.homepage .bottom-link {
    border-top: 1px solid rgba(217, 215, 215, 0.642);
}
 
.homepage i{
    margin-right: .3em;
}

.offcanvas{
    z-index: 1000000 !important;
}

.footer .bag {
    width: 100%;
    height: 700px;
    /* object-fit:scale-down; */
    position: relative;
}

.footer .footer_content{
    position: absolute;
    width: 100%;
    height: 700px;
    z-index: 1;
    padding: 4em;
    background-color: rgba(32, 32, 32, 0.58);
}

.footer img{
    width: 100px;
    height: 100px;
}

.footer .logo a {
    white-space: nowrap;
    text-decoration: none;
}

.footer input{
    padding: 1em;
    border: none;
    background-color: white;
    border-radius: 6px;
    width: 50%;
    outline: none;
    margin-bottom: 2em;
}

.footer button{
    padding: 1em;
    border: none;
    background-color: var(--primary);
    border-radius: 3px;
    width: 15em;
    margin-bottom: 2em;
    color: var(--secondary);
}

.footer .policy{
    justify-content: space-evenly;
    margin-top: 2em;
}

.footer .policy p {
    color: rgb(224, 221, 221);
}

.footer {
    height: fit-content;
}



@media screen and (max-width: 750px){
    .body .section2{
        width: 100% !important;
    }

    .text-lay{
        /* padding: 1em !important; */
    }
    
    .homepage .header ul{
        display: none !important;
    }

    .content .section1{
        right: 0;
    }

    .content .img-container{
        width: 90% !important;
        margin: auto auto;
        height: 400px;
    }

    .open_canvas{
        display: inline;
    }

    .content .section1{
        margin-right: 0em !important;
    }

    .body{
        margin-top: 450px !important;
    }

    .body .section2{
        padding: 2em;
        width: 90% !important;
    }

    .footer input{
        width: 100%;
    }

    .footer .footer_content{
        padding: 4em 1em;
    }

    .homepage .head-up, .homepage .header {
        padding: 1em !important;
        padding-top: 2em !important;
    }
    
}

@media screen and (max-width: 1030px){    
    .homepage .header li {
        margin-left: 2em;
    }

    .content .section1{
        margin-right: 8em;
        transform: translateY(300px);
        z-index: -1;
    }   
}

@media screen and (max-width: 850px){    
    .homepage .header li {
        margin-left:1em;
    }

    .content .section1{
        margin-right: 5em;
        transform: translateY(0px);
        display: none;
    }

    .body .section2{
        padding: 2em;
        width: 100% !important;
    }

    .body {
        margin-top: 0 !important;
    }

    .single .main{
        padding: 0em 1em !important;
        flex-wrap: wrap !important;
    }

    .single .main .left .images, .single .main .left .text{
        width: 100% !important;
    }

    .single .main .left{
        flex-wrap: wrap !important;
    }

    .single .main .left, .single .main .right{
        width: 100% !important;
        margin-right: 0 !important;
    }

}



.single .img, .single .section1{
    height: 100px !important;
}

.single .main {
    margin-top: 4em;
    padding: 2em 8em;
}

.single .main .right{
    width: 30%;
    padding: 1em;
    font-size: 14px;
    color: rgb(87, 87, 87);
}

.single .main .right input{
    border: 1px solid rgb(204, 204, 204);
    width: 100%;
    margin-bottom: 1em;
    padding: .6em;
    border-radius: 4px;
    outline: none;
}

.single .main .right .text{
    margin-left: .8em;
}

.single .main .right .arrive{
    font-size: 12px;
}

.single .main .right i{
    border: 1px solid rgb(168, 168, 168);
    height: fit-content;
    padding: .5em;
    border-radius: 3px;
    transform: translateY(2px);
}

.single .main .left{
    width: 70%;
    margin-right: 2em;
    padding: 1em;
}

.single .main .box{
    box-shadow: .1em .1em 1em rgba(0, 0, 0, 0.107);
    height: fit-content;
    border-radius: 6px;
    margin-bottom: 2em;
}

.single .main .left .images{
    width: 40%;
    background-color: rgb(218, 218, 218);
    height: fit-content;
    overflow: hidden;
    margin-right: 1em;
}

.single .main .left .images img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.single .main .left .text{
    margin-top: 1em;
    width: 60%;
}

.single .main .left h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--primary);
}

.single .main .left .disc{
    text-decoration: line-through;
    /* font-size: 14px; */
    color: rgb(135, 135, 135);
}

.single .main .left .stock{
    font-size: 12px;
    background-color: rgba(180, 59, 59, 0.176);
    padding: .1em 1em;
    width: fit-content;
    border-radius: 3px;
    margin-top: 1em;
}

.single .main .left .shipping{
    color: rgb(135, 135, 135);
    font-size: 12px;
}

.single .main .left button{
    background-color: var(--primary);
    color: white;
    width: 100%;
    padding: .6em;
}

.single .main .left .desc{
    font-size: 14px;
    color: grey;
}

.single .qty{
    justify-content: space-evenly;
    border: 1px solid var(--primary);
    padding: .8em;
}

.single .qty i {
    background: var(--primary);
    color: white;
    padding: .4em .5em;
    border-radius: .3em;
}

.single .qty span{
    border: 1px solid var(--primary);
    padding: .1em 2em;
    color: var(--primary);
    border-radius: 3px;
}

.single .addy.error, .single .phone.error{
    border: 1px solid red !important;
}

.single .addy.error::placeholder, .single .phone.error::placeholder{
    color: red;
}

.single .state.error{
    border: 1px solid red !important;
}

.single .state.error::placeholder{
    color: red;
}
